*{
	cursor: url("../images/cursor.png"),auto;
}

input
{
	cursor:url("../images/text.png"),text;
}

body{
	padding:0;
	margin:0;
	margin-top: 20px;
	background-color: #EAECEE;
	background-image:url("../images/background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
	user-select:none;
}

canvas{
	width: 100%;
	cursor: url("../images/pencil.png"), pointer;
}

a{
	text-decoration:none;
}

#drawElements{
	box-sizing: border-box;
	font-family: sans-serif;
	height:40px;
	padding:5px;
	background-color:rgba(128, 138, 150, 0.5);
	color:white;
}

.radCtrl{
	width:25px;
	height:25px;
	display: inline-block;
	text-align: center;
	margin-left: 5px;
}

#decreaseRad, #increaseRad{
	width:25px;
	height:25px;
	background-image: url("../images/minus.png");
}

#increaseRad{
	background-image: url("../images/plus.png");
}

#logo{
	background:url("../images/logo4.gif");  
	width: 100px;
	height: 100px;
}

@font-face{
	font-family: DeliusUnicase;
	src: url("../fonts/DeliusUnicase-Regular.ttf");
}

@font-face{
	font-family: DeliusUnicase;
	src: url("../fonts/DeliusUnicase-Bold.ttf");
	font-weight: bold;
}

header{
	height:105px;
	background-color:rgba(128, 138, 150, 0.23);
}

#site-title{
	height:100%;
}

header div{
	font-family: DeliusUnicase;
	display: inline-block;
	vertical-align: top;
	font-size:150%;
	color:#6c6360;
}

#userLogged div{
	font-size:100%;
}

header div span{
	margin-left:20px;
	font-weight: bold;
	font-size:70%;
	color:#f8f9f9;
	text-shadow:
		-1px -1px 0 #6c6360,
		 1px -1px 0 #6c6360,
		-1px  1px 0 #6c6360,
		 1px  1px 0  #6c6360;
}

.page-container{
	width:70%;
	margin: auto;
	border: 2px solid  rgba(171, 178, 185, 0.52);
	margin-bottom:20px;
}

footer{
	clear:both;
	border-top:1px solid rgba(128, 138, 150, 0.23);
	margin-top:20px;
	background-color:rgba(128, 138, 150, 0.23);
}

footer p{
	margin:0;
	padding:0;
	text-align: center;
	font-weight:900;
	letter-spacing: 2px;
	line-height: 40px;
	color:#6c6360;
	font-size: 20px;
}

section{
	margin: 0.5%;
	float:left;
	border: 1px solid rgba(128, 138, 150, 0.23);
	width: 99%;
	padding:0;
	color:#6c6360;
}

#rad{
	float:left;
}

#colors{
	float:right;
}

.color{
	width:30px;
	height:30px;
	border-radius: 20px;
	box-shadow: inset 0px 3px 0px rgba(0,0,0,0.5);
	display:inline-block;
	margin-left: 3px;
}

.color.active{
	border:2px white;
	box-shadow: inset 0px 1px 4px rgba(255,255,255,0.5);
}

.color:hover{
	cursor: url("../images/point.png"), pointer;
}

.button:hover{
	background-color: #454545;
}

#login-box{
	background-color:mistyrose;
	width:30%;
	margin:30px auto;
}

.loginForm, .registerForm{
	clear:both;
	background-color:white;
	z-index:300;
	text-align:center;
}

.tab, .tab-activ{
	float:left;
	width:50%;
	text-align:center;
	padding:5px 0;
	cursor: url("../images/point.png"),pointer;
	overflow:hidden;
}

.tab-activ{
	color:rgba(225, 190, 190, 1);
	background-color:white;
}

.message{
	padding:8px 10px;
	margin:0;
	color:crimson;
}

.average-row{
	text-align:center;
	line-height:1.5em;
	padding-bottom:10px;
}

.button{
	cursor: url("../images/point.png"),pointer;
	background-color:#404040;
	color:white;
	height:20px;
	width:50%;
	float:left;
	padding:5px 0;
	margin-bottom:25px;
}

.button:hover{
	color:rgb(225, 190, 190);
	background-color:black;
}

#guestButton{
	float:right;
}

#registerButton{
	width:100%;
}

#userLogged{
	float:right;
	text-align:right;
	padding-right:30px;
}

#userName{
	margin:0;
	padding-left:12px;
	font-variant:small-caps;
	font-size:1.5em;
}

#galleryButton, #logoutButton{
	float:right;
	background-color:transparent;
	width:50px;
	height:32px;
	margin:0;
	margin-left:20px;
	background-repeat:no-repeat;
	background-position: center; 
}

#galleryButton{
	background-image: url("../images/gallery.png");
}

#logoutButton{
	background-image: url("../images/exit-512.png");
}

#register, #userLogged{
	display: none;
}

.buttonTab{
	cursor: url("../images/point.png"), auto;
	background-color: #303030;
	color: white;
	width: 37px;
	float:right;
	margin-right: 5px;
	margin-bottom: 0px;
	height:13px;
	padding: 8px;
	background-color: #303030;
}

#decreaseRad, #increaseRad, #decreaseRad span, #increaseRad span{
	cursor: url("../images/point.png"), pointer;
}

	/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
	top:120px;
    width: 70%; /* Full width */
    height: 70%; /* Full height */
}

.modal span.close{
	display:inline-block;
	color:white;
	font-family:sans-serif;
	border:2px solid white;
	font-size:2em;
	line-height:1em;
	width:1em;
	height:1em;
	text-align:center;
	float:right;
	font-weight: bold;
	cursor: url("../images/point.png"),pointer;
}

span.close:hover{
	color: red;
	border-color:red;
}

/* Modal Content */
.modal-content {
	background-color: rgba(0,0,0,0.8);
    margin: auto;
    border: 1px solid #888;
    width: 100%;
}

#gallery{
	height:100%;
}

.galery{
	clear:both;
	background-color:mistyrose;
	border:10px solid pink;
	margin-top:5px;
	height:100%;
}

.gallery > div {
	float: left;
	height:120px;
	margin:50px 0 0 60px;
}

.gallery > div > img {
	display: inline-block;
	width: 185px;
	height:100%;
	transition: .1s transform;
}

.gallery > div:hover > img {
	transform: scale(1.5,1.5);
	transition: .3s transform;
	border:2px solid black;
	cursor: url("../images/point.png"),pointer;
}

#gallery-content{
	clear:both;
	height:80%;
	width:95.8%;
	margin:auto;
	overflow:auto;
	padding-bottom:50px;
}

#rubber, #save, #newFile, #load, #radMeasure{
	background-color: transparent;
	padding:0px;
}

#rubber
{
	width:30px;
	height:25px;
	background-image:url("../images/eraser.png");
}

#save
{
	width:24px;
	height:25px;
	background-image:url("../images/save.png");
}

#newFile
{
	width:23px;
	height:25px;
	background-image:url("../images/new.png");
}

#load
{
	width:26px;
	height:25px;
	background-image: url("../images/load.png");
}

#radMeasure
{
	cursor:url("../images/cursor.png"),auto;
	width:26px;
	height:25px;
	float:left;
	background-image: url("../images/measure.png");
}

.average-row input{
	overflow:hidden;
	letter-spacing:1.5px;
	margin-top:2px;
	color:#404040;
	text-indent:10px;
	padding:8px;
	border: 1px solid #dcdcdc;
	outline:none;
	width:70%;
}

.average-row input:hover{
	outline:2px solid #FFE4E1;
	outline-offset:0;
}

.average-row input:focus{
	background-color:seashell;
}

.average-row input:-webkit-autofill {
	-webkit-text-fill-color:#404040;
	-webkit-box-shadow: 0 0 0 1000px #FFF inset;
}

.average-row input:-webkit-autofill:hover{
	outline:2px solid #FFE4E1;
	outline-offset:0;
}

.average-row input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 1000px seashell inset;
}